.kv {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: 768px) {
    margin-top: 10rem;
    flex-direction: column;
  }
}

// .kv-wrapper {
//   display: flex;
//   align-items: center;
//   position: relative;
// }

.kv-content {
  width: 50%;
  h1 {
    line-height: 3.5rem;
    font-weight: 700;
  }
  p.lead {
    color: lighten($base, 5%);
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.kv-image {
  width: 50%;
  display: flex;
  bottom: -85px;
  position: relative;
  justify-content: center;
  overflow: hidden;
  img {
    width: 190%;
  }
  @media (max-width: 992px) {
    bottom: -135px;
  }
  @media (max-width: 825px) {
    bottom: -140px;
  }
  @media (max-width: 768px) {
    bottom: -60px;
  }
}
