.kv {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: 1200px) {
    margin-top: 5rem;
    padding-bottom: 5rem;
  }
  @media (max-width: 992px) {
    margin-top: 8rem;
  }
  @media (max-width: 768px) {
    margin-top: 8rem;
    padding-bottom: 0;
    flex-direction: column;
  }
}

.kv-content {
  width: 50%;
  h1 {
    line-height: 3.5rem;
    font-weight: 700;
  }
  p.lead {
    color: lighten($base, 5%);
  }
  @media (max-width: 992px) {
    width: 70%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.kv-image {
  width: 50%;
  display: flex;
  bottom: -85px;
  position: relative;
  justify-content: center;
  overflow: hidden;
  img {
    width: 190%;
  }
  @media (max-width: 1200px) {
    bottom: -165px;
  }
  @media (max-width: 992px) {
    bottom: -90px;
    right: -60px;
    width: 50%;
    position: absolute;
    z-index: -1;
  }
  @media (max-width: 768px) {
    position: relative;
    bottom: -65px;
    right: 0;
    width: 100%;
    img {
      width: 130%;
    }
  }
}
