.kv {
	display: flex;
	align-items: center;
	color: black;
	position: relative;
	height: 90vh;
	// background: no-repeat url('../img/kv-background.png');
	// background-position: 15vw;
	// background-size: contain;
	margin-bottom: -6rem;
}

.kv-content {
	width: 50%;
	h1 {
		line-height: 3.5rem;
		font-weight: 700;
		// max-width: 60%;
	}
	p.lead {
		color: lighten($base, 5%);
		// max-width: 40%;
	}
}

.kv-image {
	width: 50%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	img {
		width: 190%;
	}
}
